* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
}

ul,
li,
p,
h1 {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.wrapper {
    height: 100%;
}
span{
    color: #FF6464;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1152px;
}
.header-container {
    max-width: 1032px;
}

.nav {
    background: rgb(255, 255, 255);
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}
.h1-title{
    margin-top: 90px;
}
.nav__list {
    display: flex;
}
.nav__link{
    font-weight: 700;
}
.nav__item {
    padding: 15px;
}
.work__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.post__date {
    display: flex;
    align-items: center;
    font-weight: 400;
    height: 34px;
    font-size: 18px;
}
.blog__title{
    font-weight: 700;
    font-size: 44px;
}
.work{
    display: flex;
    width: 100%;
    height: 150px;
}
.work__content{
    display: flex;
    flex-direction: column;
}
.work__img-wrap{
    margin-right: 16px;
    width: 246px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.line{
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 42px;
}
.work__content-info{
    display: flex;
    align-items: center;
}
.work__content-title{
    font-size: 30px;
    font-weight: 700;
}
.work__content-type{
    font-weight: 400;
    color: #8695A4;
    margin-left: 28px;
    font-size: 20px;
}
.work__content-text{
    font-weight: 400;
}
.footer{
    font-family: inherit;
    height: 182px;
    display: flex;
    align-items: center;
    justify-content: center;
}