* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
}

ul,
li,
p,
h1 {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 855px;
    margin: 0 auto;
    padding: 0 5px;
}
.header{
    width: 100%;
}
.header__container {
    max-width: 1032px;
    display: flex;
    justify-content: flex-end;
}

.nav {
    background: rgb(255, 255, 255);
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}
.main{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
.nav__list {
    display: flex;
}
.nav__link{
    font-weight: 700;
}
.nav__item {
    padding: 15px;
}
.header__burger{
    position: relative;
    display: none;
    width: 30px;
    align-items: center;
}
.header__burger-el{
    height: 2px;
    width: 100%;
    background-color: black;
    position: relative;
}
.header__burger-el::before, .header__burger-el::after{
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    content: ' ';
}
.header__burger-el::after{
    top: 8px;
}
.header__burger-el::before{
    top: -8px;
}
.about {
    align-items: center;
    height: 100vh;
    background: rgb(255, 255, 255);
}
.about__container{
    display: flex;
    align-items: center;
    height: inherit;
}

.about__content-title {
    font-size: 44px;
    color: black;
    font-weight: 700;
}

.about__content {
    font-size: 19px;
    display: flex;
}
.about__content-img-wrap{
    width: 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    flex-shrink: 0;
}
.about__content-img{
    height: 100%;
    width: 100%;
}
@media (max-width: 480px){
    .header__burger{
        display: flex;
    }
    .nav{
        display: none;
    }
    .about__content{
        flex-direction: column-reverse;
        text-align: center;
    }
    .about__content-info-wrap{
        padding: 0 24px;
    }
    .header{
        padding-top: 20px;
    }
    .about__content{
        align-items: center;
    }
}
.about__content-button-text{
    font-weight: 500;
}
.about__content-button {
    padding: 14px;
    border-radius: 2px;
    background-color: #FF6464;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: none;
}
.about__content-info-wrap{
    padding-right: 12%;
}
.about__content-button-text {
    color: white;
    font-size: 20px;
}

.posts {
    min-height: 396px;
    background: #EDF7FA;
}

.post__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__view-link{
    color: #00A8CC;
}
.post {
    border-radius: 4px;
    height: 295px;
    width: 418px;
    padding: 15px;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 17px;
}
.post__title-text {
    font-weight: 700;
    width: 100%;
    height: 85px;
    font-size: 26px;
    text-align: left;
}
.post__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__date {
    font-weight: 400;
    height: 34px;
    font-size: 18px;
}   
.post__info-separator{
    margin: 0 26px;
}
.post__text {
    height: 117px;
}
@media (max-width: 480px){
    .post__list{
        flex-direction: column;
    }
    .posts{
        padding: 0px 0px 38px;
    }
    .post:last-child{
        margin-bottom: 0;
    }
    .post__view{
        display: none;
    }
    .post__info{
        justify-content: center;
    }
}
.title{
    font-weight: 400;
    height: 60px;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.work__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.work{
    margin-top: 30px;
    display: flex;
    width: 100%;
    min-height: 180px;
}
.work__content{
    display: flex;
    flex-direction: column;
}
.work__img-wrap{
    margin-right: 16px;
    width: 246px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.line{
    margin-top: 32px;
    border-bottom: 1px solid #E0E0E0;
}
.work__content-info{
    display: flex;
    align-items: center;
}
.work__content-title{
    font-size: 30px;
    font-weight: 700;
}
.work__content-date{
    display: flex;
    justify-content: center;
    width: 62px;
    height: 25px;
    background-color: #142850;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin: 15px 0 15px;
}
.work__content-date-text{
    font-weight: 700;
    color: white;
    font-size: 18px;
}
.work__content-type{
    font-weight: 400;
    color: #8695A4;
    margin-left: 28px;
    font-size: 20px;
}
.work__content-text{
    font-weight: 400;
}
.footer{
    flex: 0 0 auto;
    font-family: inherit;
    height: 182px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__content{
    max-width: 300px;
}
.footer__copyright{
    text-align: center;
}
.footer__icon-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

@media (max-width: 480px){
    .work{
        padding: 0px 13px 17px;
        flex-direction: column;
        flex: 0 0 100%;
    }
    .work__list{
        display: flex;
        overflow: auto;
        flex-direction: row;
        justify-content: flex-start;
    }
}