* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
}

ul,
li,
p,
h1 {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.wrapper {
    height: 100%;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1152px;
}


@media (min-width: 575.98px) {
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}

@media (min-width: 767.98px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 991.98px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1199.98px) {
    .container {
        max-width: 1140px;
    }
}

.header-container {
    max-width: 1032px;
}

.main {
    height: 100vh;
    background: rgb(255, 255, 255);
}

.nav {
    background: rgb(255, 255, 255);
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.nav__list {
    display: flex;
}
.nav__link{
    font-weight: 700;
}
.nav__item {
    padding: 15px;
}

.main {
    display: flex;
    align-items: center;
}

.main__content-h1 {
    font-size: 44px;
    color: black;
    font-weight: 700;
}

.main__content-info-text {
    width: 70%;
}

.main__content-info {
    font-size: 19px;
    display: flex;
}

.main__content-img-wrap {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main__content-button-text{
    font-weight: 500;
}
.main__content-button {
    width: 208px;
    height: 47px;
    border-radius: 2px;
    background-color: #FF6464;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: none;
}

.main__content-button-text {
    color: white;
    font-size: 20px;
}

.posts {
    height: 396px;
    background: #EDF7FA;
}

.post__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__view-link{
    color: #00A8CC;
}
.post {
    border-radius: 4px;
    height: 295px;
    width: 418px;
    padding: 15px;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.post__title {
    font-weight: 700;
    width: 100%;
    height: 85px;
    font-size: 26px;
    text-align: left;
}

.post__date {
    font-weight: 400;
    height: 34px;
    font-size: 18px;
}

.post__text {
    height: 117px;
}
.works{
    height: 100vh;
}
.title{
    font-weight: 400;
    height: 60px;
    font-size: 22px;
    display: flex;
    align-items: center;
}
.post__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.work{
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 180px;
}
.work__content{
    display: flex;
    flex-direction: column;
}
.work__img-wrap{
    margin-right: 16px;
    width: 246px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.line{
    margin-top: 32px;
    border-bottom: 1px solid #E0E0E0;
}
.work__content-info{
    display: flex;
    align-items: center;
}
.work__content-title{
    font-size: 30px;
    font-weight: 700;
}
.work__content-date{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 25px;
    background-color: #142850;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin: 15px 0 15px;
}
.work__content-date-text{
    font-weight: 700;
    color: white;
    font-size: 18px;
}
.work__content-type{
    font-weight: 400;
    color: #8695A4;
    margin-left: 28px;
    font-size: 20px;
}
.work__content-text{
    font-weight: 400;
}
.footer{
    font-family: inherit;
    height: 182px;
    display: flex;
    align-items: center;
    justify-content: center;
}