* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

ul,
li,
p,
h1 {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.wrapper {
    height: 100%;
}

.container {
    padding: 0 15px;
}
@media (min-width: 575px) {
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}

@media (min-width: 767px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 991px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1199px) {
    .container {
        max-width: 1299px;
    }
}

.main {
    height: 100vh;
    background: rgb(255, 255, 255);
}

.nav {
    background: rgb(255, 255, 255);
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}
.nav__list{
    display: flex;
}
.nav__item {
    padding: 15px;
}
.main{
    display: flex;
    align-items: center;
}
.main__content-h1{
    font-family: 'Heebo', sans-serif;
    color: black;
}
.main__content-info-text{
    width: 50%;
}
.main__content-info{
    font-size: 19px;
    display: flex;
}
.main__content-img-wrap{
    width: 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main__content-button{
    width: 208px;
    height: 47px;
    border-radius: 2px;
    background-color: #FF6464;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: none;
}
.main__content-button-text{
    color: white;
    font-size: 20px;
}